<app-custom-table [data]="data" [columns]="columns" [selectable]=true>
    <ng-template #searchComponentTemplate>
        <app-search-component></app-search-component>
    </ng-template>
    <ng-template #filterActionTemplate>
        <button mat-menu-item (click)="showAll()">
            <mat-icon>filter_list_off</mat-icon>
            <span>All</span>
        </button>
        <button mat-menu-item (click)="showInactive()">
            <mat-icon>group_remove</mat-icon>
            <span>Inactive Only</span>
        </button>
        <button mat-menu-item (click)="showExpiringSoon()">
            <mat-icon>event</mat-icon>
            <span>Expiring Soon</span>
        </button>
    </ng-template>
    <ng-template #selectedActionTemplate let-selection>
        <div class="flex">
            <button class="mr-2" mat-raised-button color="primary" (click)="edit(selection)">
                <mat-icon>edit</mat-icon> Edit
            </button>
            <button class="mr-2" mat-raised-button color="warn" (click)="delete(selection)">
                <mat-icon>delete</mat-icon> Delete
            </button>
        </div>
    </ng-template>
    <ng-template #rowActionTemplate let-item>
        <button mat-icon-button color="primary" (click)="edit(item)">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="delete(item)">
            <mat-icon>delete</mat-icon>
        </button>
    </ng-template>
</app-custom-table>