<bn-table tableHeader="Periodic Table" [data]="data" [columns]="columns" [selectable]=true [paginate]=true
    [recordsPerPage]="10" [sortable]=true [customSearchComponent]="searchComponent">
    <ng-container *bnTableFilter>
        <button mat-menu-item (click)="showAll()">
            <mat-icon>filter_list_off</mat-icon>
            <span>All</span>
        </button>
        <button mat-menu-item (click)="showInactive()">
            <mat-icon>group_remove</mat-icon>
            <span>Inactive Only</span>
        </button>
        <button mat-menu-item (click)="showExpiringSoon()">
            <mat-icon>event</mat-icon>
            <span>Expiring Soon</span>
        </button>
    </ng-container>
    <ng-container *bnSelectedAction="let selection">
        <div class="flex">
            <button class="mr-2" mat-raised-button color="primary" (click)="edit(selection)">
                <mat-icon>edit</mat-icon> Edit
            </button>
            <button class="mr-2" mat-raised-button color="warn" (click)="delete(selection)">
                <mat-icon>delete</mat-icon> Delete
            </button>
        </div>
    </ng-container>
    <ng-container *bnRowAction="let item">
        <button mat-icon-button color="primary" (click)="edit(item)">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="delete(item)">
            <mat-icon>delete</mat-icon>
        </button>
    </ng-container>
</bn-table>